//height: 300px; + 250px
//300 + 300
//mar=20

.prognosis-chart {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 9px 27.09px rgba(176, 190, 197, 0.25), 0px 7px 5.64px rgba(176, 190, 197, 0.25);
  cursor: pointer;
  height: 620px;
  text-align: center;
  margin: 20px;
  transition: 0.2s;
  width: 300px;
  &:hover {
    transform: scale(1.05);
  }

  .description {
    font-size: 1em;
    font-weight: 300;
    color: #607D8B;
    margin: 0 0 17% 8%;
    text-align: left;
  }

  .prognosis, .prognosis1 {
    display: inline-flex;
    margin-bottom: 15%;
    justify-content: space-between;
    width: 83%;

    h1 {
      font-size: 1em;
      margin-bottom: 0;
    }
  }

  .prognosis {
    border-bottom: 1px solid #DDDDDD;
  }

  .title {
    font-size: 1.3em;
    font-weight: 400;
    padding: 20px 0 0 8%;
    text-align: left;
  }
}