@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  background-color: #FDF8F4;
}

.home-page {
  .content {
    padding: 25vh 0 0;
    padding-left: 7vw;
    max-width: 769px;
    width: 90vw;
    
    h1 {
      background-image: linear-gradient(269.88deg, #C657ED 20.52%, #309BF1 62.34%, #5FDAE2 106.87%);
      font-weight: 700;
      font-size: 2.5rem;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 400px;
    }

    p {
      font-size: 1.2em;
      font-weight: 300;
      max-width: 100%;
      padding: 2.5vh 0vh;
      width: 450px;

      .bold {
        font-weight: 600;
      }
    }
  }

  .buttons {
    font-weight: 600;
    justify-content: space-between;
    width: 100%;

    .begin {
      background-color: #AE72FF;
      border: none !important;
      border-radius: 10px;
      color: #FDF8F4;
      font-size: 18px;
      font-weight: 500;
      height: 50px;
      margin-right: 30px;
      width: 170px;
    }
    .view {
      background-color: #FEEBDC;
      border: none !important;
      border-radius: 10px;
      color: #AE72FF;
      font-weight: 500;
      font-size: 18px;
      height: 50px;
      margin-top: 20px;
      width: 170px;
    }
  }

  .home-nav {
    align-items: flex-start;
    display: flex;
    height: 5vh;
    justify-content: space-between;
    width: 100vw;

    .logo {
      padding: 10px 0 10px 7vw;
    }

    .links {
      display: flex;
      font-family: Montserrat Alternates;
      .demo, h4 {
        display: none;
      }

      .demo {
        border: none;
        position: relative;
        top: -5px;
        width: 100px;

        .demo-button {
          height: 100%;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }

    .demo {
      background: #FDF8F4;
      //border: 3px solid; 
      //border-image: linear-gradient(228.76deg, #678DF0 12.69%, #B28BF1 73.36%);
      border-radius: 15px;
      font-weight: 300;
      margin: 30px 40px;
      width: 85px;
    }
  }
}

@media (min-width: 769px) {
  .home-nav {
    .links {
      h4 {
        display: flex !important;
        font-size: 1.2rem;
        font-weight: 300;
        padding: 30px 40px;
      }
      .demo {
        display: flex !important;
      }
    }
  }

  .home-page {
    .content {
      h1 {
        font-size: 3.5em !important;
      }
      h2 {
        font-size: 1.3em;
      }
    }

    .buttons {
      .view {
        margin-top: 0;
      }
    }
  }
}