.nav-bar {
  align-items: center;
  display: flex;
  height: 15vh;
  width: 100%;
  z-index: 50000;
  position: relative;

  .back-button {
    background-color: #D9BCFF;
    border-radius: 13px;
    cursor: pointer;
    padding: 14px;
    margin-left: 10px;
    height: 8vh;
    max-height: 50px;
    max-width: 50px;
    width: 8vh;

    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .settings {
    display: flex;
    position: absolute;
    right: 5px;

    a {
      margin: auto;
    }

    h1 {
      font-size: 1em;
      font-weight: 400;
      margin: auto 20px auto 0;
    }

    .restart {
      font-weight: 500;
      margin-left: 10px;
      display: none;
    }

    .restart-button {
      background-color: black;
      border-radius: 13px;
      cursor: pointer;
      display: inline-block;
      padding: 14px;
      height: 8vh;
      max-height: 50px;
      max-width: 50px;
      width: 8vh;
    }
  }

  .step-note {
    width: 55vw;
    margin: 0;
    display: none;
    flex-direction: column;

    h1 {
      font-size: 1.5em;
      font-weight: 600;
      line-height: 20px;
    }

    h2 {
      color: #868686;
      font-size: 1em;
      line-height: 10px;
    }
  }

  .step-number {
    cursor: pointer;
    background-color: #AE72FF;
    border-radius: 13px;
    color: white;
    font-size: 2em;
    height: 8vh;
    line-height: min(8vh, 50px);
    margin: 0 20px 0 15px;
    max-height: 50px;
    max-width: 50px;
    text-align: center;
    width: 8vh;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .restart-container {
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
  .line {
    position: absolute;
    bottom: 0;
    width: 96%;
    left: 0;
    height: 1px;
    background-color: #C8C8C8;
  }
}

@media (min-width: 769px) {
  .nav-bar {
    .step-note {
      display: flex;
    }
    .settings {
      font-size: 1.3em;
      .restart {
        display: inline-block;
      }
    }

  }
}
