@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,700,700i,900,900i');
body {
  margin: 0;
  font-family: Montserrat;
}
html, body {
  max-width: 100%;
  overflow: hidden;
}
